In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
%matplotlib inline

In [5]:
community_health = pd.read_csv(r'data/Datathon Materials/community_health.csv')
community_health.head()

,county_name,health_topic,indicator,event_count,avg_num_of_denominator,unit_measurement,precent_or_rate,low_limit_95p_CI,upp_limit_95p_CI,data_comment,year,data_source,lat_long
0,Albany,Family Planning/Natality Indicators,Percentage of births within 24 months of previ...,2043.0,3144.0,Percentage,21.7,NaN,NaN,NaN,2012-2014,"2012-2014 Vital Statistics Data as of May, 2016","(42.678066, -73.814233)"
1,Allegany,Family Planning/Natality Indicators,Percentage of births within 24 months of previ...,399.0,487.0,Percentage,27.3,NaN,NaN,NaN,2012-2014,"2012-2014 Vital Statistics Data as of May, 2016","(42.226801, -78.020567)"
2,Bronx,Family Planning/Natality Indicators,Percentage of births within 24 months of previ...,10032.0,21249.0,Percentage,15.7,NaN,NaN,NaN,2012-2014,"2012-2014 Vital Statistics Data as of May, 2016","(40.85589, -73.868294)"
3,Broome,Family Planning/Natality Indicators,Percentage of births within 24 months of previ...,1654.0,2083.0,Percentage,26.5,NaN,NaN,NaN,2012-2014,"2012-2014 Vital Statistics Data as of May, 2016","(42.122015, -75.933191)"
4,Capital Region,Family Planning/Natality Indicators,Percentage of births within 24 months of previ...,6273.0,9774.0,Percentage,21.4,NaN,NaN,NaN,2012-2014,"2012-2014 Vital Statistics Data as of May, 2016",NaN

In [6]:
service_requests = pd.read_csv(r'data/Datathon Materials/311_service_requests.csv')
service_requests.head()

C:\Users\nicol\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,unique_key,created_date,closed_date,agency_acronym,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,city,status,due_date,resolution_date,community_board,borough,latitude,longitude
0,28272192,06/16/2014 09:34:00 AM,06/16/2014 12:00:00 PM,DSNY,BCC - Brooklyn South,Sanitation Condition,15 Street Cond/Dump-Out/Drop-Off,Street,11232,218 31 STREET,31 STREET,BROOKLYN,Closed,NaN,06/16/2014 12:00:00 PM,07 BROOKLYN,BROOKLYN,40.656066,-73.999805
1,28272281,06/16/2014 08:21:00 AM,06/16/2014 12:00:00 PM,DSNY,BCC - Brooklyn South,Sanitation Condition,15 Street Cond/Dump-Out/Drop-Off,Street,11234,5207 AVENUE T,AVENUE T,BROOKLYN,Closed,NaN,06/16/2014 12:00:00 PM,18 BROOKLYN,BROOKLYN,40.611781,-73.923889
2,28272228,06/16/2014 12:00:00 AM,07/15/2014 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,11209,230 94 STREET,94 STREET,BROOKLYN,Closed,07/16/2014 12:13:55 PM,07/15/2014 12:00:00 AM,10 BROOKLYN,BROOKLYN,40.618345,-74.034990
3,28272229,06/16/2014 12:00:00 AM,07/01/2014 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11215,NaN,NaN,BROOKLYN,Closed,07/16/2014 02:30:53 PM,07/01/2014 12:00:00 AM,06 BROOKLYN,BROOKLYN,40.662800,-73.978348
4,28272230,06/16/2014 12:00:00 AM,04/28/2014 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Commercial Building,10002,174 ORCHARD STREET,ORCHARD STREET,NEW YORK,Pending,07/16/2014 11:05:03 PM,04/28/2014 12:00:00 AM,03 MANHATTAN,MANHATTAN,40.721688,-73.988391

In [ ]:
service_requests = pd.read_csv(r'data/Datathon Materials/311_service_requests.csv')
service_requests.head()

In [ ]:
service_requests = pd.read_csv(r'data/Datathon Materials/311_service_requests.csv')
service_requests.head()

In [ ]:
service_requests = pd.read_csv(r'data/Datathon Materials/311_service_requests.csv')
service_requests.head()

In [ ]:
service_requests = pd.read_csv(r'data/Datathon Materials/311_service_requests.csv')
service_requests.head()

In [ ]:
service_requests = pd.read_csv(r'data/Datathon Materials/311_service_requests.csv')
service_requests.head()